* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: #e0e1dd;
  background-color: #415a77;
}

h1 {
  font-size: 6vh;
  background-color: #1b263b;
  padding: 10px;
  border: solid #14213d 3px;
  width: 95%;
  height: 10vh;
  text-align: center;
  margin: 10px auto 10px auto;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.inputArea,
.taskListArea {
  background-color: #1b263b;
  border: solid #1b263b 3px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.inputArea {
  margin: 30px 30px 30px 50px;
  height: 150px;
}

.taskListArea {
  margin: 30px 50px 30px 30px;
  height: 600px;
}

#inputAreaTitle,
#taskListAreaTitle {
  font-size: 3vh;
  padding: 10px;
  text-align: center;
}

.inputButtons {
  display: flex;
  justify-content: space-around;
}

.inputButtons button {
  font-size: 15px;
  padding: 3px;
  border-radius: 5px;
  margin-top: 5px;
  border: #1c6e8c;
  width: 45%;
}

#addTaskButton {
  background-color: greenyellow;
  color: green;
}

#clearAllButton {
  background-color: red;
  color: black;
}

.inputField {
  padding: 5px;
  border-radius: 5px;
  border: #1c6e8c;
}

#addTaskButton:hover {
  background-color: green;
  color: greenyellow;
}

#clearAllButton:hover {
  background-color: orangered;
  color: white;
}

#addTaskButton:active,
#clearAllButton:active {
  background-color: #14213d;
}

.task-item {
  padding: 8px 5px 5px 2px;
  border-radius: 5px;
  background-color: #778da9;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  line-height: 25px;
}

.deleteButton {
  background-color: red;
  color: black;
  font-size: 15px;
  padding: 3px;
  border-radius: 5px;
  border: #1c6e8c;
  width: 30%;
  margin-left: 5px;
}

.checkBox {
  margin-left: 5px;
  margin-right: 5px;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  .inputArea,
  .taskListArea {
    margin: 15px;
  }

  .inputButtons button {
    width: 90%;
  }
}
